<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Django App</title>
  </head>
  <body>
    <h1 class="text-center mt-4">Find Data</h1>
      
    <div class="container">
        <nav class=" nav justify-content-center">
            <form class="form-inline">
              <input class="form-control" type="text" id="keywords" value="{{ request.GET.keywords }}" placeholder="Keyword you want to search...." name="keywords">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </nav>
    </div>   

    {% if linkAndHeader %}
    <div class="container">
        <div class="row justify-content-center">

            <!-- Remember the order. First we put header in the zip. Then 
            link. By the same order we are extracting the vales. -->

            <!-- our data is in 2D list. For example: [['one'] , ['two']].
            So, in loop we will get one afer another.

            For example, from 'linkAndHeader' we are getting 'itemHeader'.
            So, 'itemHeader' will look list this: ['one'] - a single value.
            Now to remove array looks, I mean the bracket"[]" we will add 
            first index. Because our value is in the first position. 

            So, "itemHeader.0" -- here ".0" to get first index. 
            -->
            {% for itemHeader, itemLink in linkAndHeader %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card"> 
                    <div class="card-body">
                        <h5 class="card-title text-sm-justify">{{itemHeader.0}}</h5>
                        <a href="{{itemLink.0}}" target="_blank" class="btn btn-primary btn-block">Link (Prothom Alo)</a>
                    </div>
                </div>
            </div>

            {% endfor%}
            
        </div>
    </div>
    {% else %}
        <div class=" mt-5"><h3 style="color:brown;" class="text-center">Keywords For Search</h3></div>
    {% endif %}
    
    
    <!--  akashnews24 -->
    {% if linkAndHeader3 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderFinanceExp,allLinksFinanceExp in linkAndHeader3 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card">         
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderFinanceExp.0}}</h5>
                        <a href="{{allLinksFinanceExp.0}}" target="_blank" class="btn btn-primary btn-block">Link (akashnews24)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}

    <!-- financial express -->

    {% if linkAndHeader2 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderFinanceExp,allLinksFinanceExp in linkAndHeader2 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card">         
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderFinanceExp.0}}</h5>
                        <a href="{{allLinksFinanceExp.0}}" target="_blank" class="btn btn-primary btn-block">Link (The Financial Express)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>