
<!DOCTYPE html>
<html lang="en">

<head>
	<title>SB Police</title>
	<meta name="description" content="">
	
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:pages" content="1684681591858102" />


{% load static %}

<!-- Bootstrap Core CSS -->
<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
<link href="{% static '/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">

<link href="{% static 'css/new_style.min.css' %}" rel="stylesheet">
 
<link title="timeline-styles" rel="stylesheet" href="{% static 'css/timeline.css' % }">
	<style>
		a:visited {
			color: #660099;
		}
		a:hover{
			color: white;
		}
		.tl-text h2.tl-headline, .tl-text h2.tl-headline-title{
			font-size:34px !important;
			line-height:34px !important;
		}
		.tl-text .tl-headline-date, .tl-text h3.tl-headline-date{
			margin: 0 0 15px 0 !important;
		}

		.tl-timeline p{
			font-size: 13px !important;
			line-height: 1.5 !important;
			margin-top: 17px !important;
		}

		.tl-timeline .tl-caption, .tl-timeline .tl-credit, .tl-timeline .tl-slidenav-next, .tl-timeline .tl-slidenav-previous {
			padding: 15px !important;
		}
		
		.tl-timenav .tl-attribution{
			display: none;
		}
		@media only screen and (max-width: 768px)  {
			.logo-image{
				max-width: 100%;
			}

			.service-heading{
				color:white !important;
			}
			.service_wrap{
				background-color: darkblue;
				height: 95px;
			}
			
			.intro-text{
				padding-top: 20px !important;
				background: #038944bf;
			}
			.button{
				border: 0;
				font-size: 20px;
				padding: 6px 0;
				width: 20px;
				height: 20px;
				margin-top: 10px;
				text-indent: -9999px;
				position: absolute;
				right: 9px;
				top: 0;
				background: url({% static 'img/ic_search_blue.png' %}) no-repeat;
				background-size: 100%;
				margin-right: 10px;
			}
		}
	</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker" ).datepicker();
  $( "#datepicker2" ).datepicker();
});
</script>
</head>

<body id="page-top" class="index d-none d-md-block">
	
<!-- Navigation -->

<div class="text-center" style="background: linear-gradient(120deg,#101056 30%,#28a4c9,#0b1284,#28a4c9,#ffffff);">

    <img class="mt-4 logo-image" src="{% static '/en.png' %}">
</div>
    <!-- Header -->
    <header id="homes">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><span style="color: #131b43;"><b>আপনি কোন ধরনের তথ্য খোঁজ করছেন ?</b></span></div>
                <form>
					<input id="autocomplete" type="text" id="keywords" required value="{{ request.GET.keywords }}" name="keywords" placeholder="কীওয়ার্ড টাইপ করুন">
					<input id="homeSearchBtn" type="submit" class="button" value="খোঁজ করুন">
					<div class="row">
						<div class="col-md-6" style="margin-top: 2%;">
							<input type="text" id="datepicker" name="from" placeholder="থেকে" value="{{ request.GET.from }}">
						</div>
						<div class="col-md-6" style="margin-top: 2%;">
							<input type="text" id="datepicker2" name="to" placeholder="পর্যন্ত" value="{{ request.GET.to }}">
						</div>
					</div>
					<ul>
					    <li>সকল জাতীয় ও স্থানীয় দৈনিক পত্রিকা ভান্ডার থেকে খুঁজুন</li>					
					</ul>
                </form>
            </div>
        </div>
    </header>

    {% if linkAndHeader %}
    <div class="container">
        <div class="row justify-content-center">

                <div class="intro-heading"><h2 class="text-center" style="color: #dd150e;">খোঁজ পাওয়া সকল তথ্য</h2></div>

            <!-- Remember the order. First we put header in the zip. Then 
            link. By the same order we are extracting the vales. -->

            <!-- our data is in 2D list. For example: [['one'] , ['two']].
            So, in loop we will get one afer another.

            For example, from 'linkAndHeader' we are getting 'itemHeader'.
            So, 'itemHeader' will look list this: ['one'] - a single value.
            Now to remove array looks, I mean the bracket"[]" we will add 
            first index. Because our value is in the first position. 

            So, "itemHeader.0" -- here ".0" to get first index. 
            -->
            {% for itemHeader, itemLink in linkAndHeader %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card"> 
                    <div class="card-body">
                        <h5 class="card-title text-sm-justify">{{itemHeader.0}}</h5>
                        <a href="{{itemLink.0}}" target="_blank" class="btn btn-primary btn-block">Link (Prothom Alo)</a>
                    </div>
                </div>
            </div>

            {% endfor%}
            
        </div>
    </div>
    
    {% endif %}

    <br>
    <!-- dmp news -->
    {% if linkAndHeader4 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderDmp,allLinksDmp in linkAndHeader4 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card">         
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderDmp.0}}</h5>
                        <a href="{{allLinksDmp.0}}" target="_blank" class="btn btn-primary btn-block">Link (DMP news)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}


    <!-- google -->

    {% if linkAndHeader5 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderjugan,allLinksjugan in linkAndHeader5 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card"> 
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderjugan.0}}</h5>
                        <a href="{{allLinksjugan.0}}" target="_blank" class="btn btn-primary btn-block">Link (Jugantor)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}


    <!--  akashnews24 -->
    {% if linkAndHeader3 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderFinanceExp,allLinksFinanceExp in linkAndHeader3 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card">         
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderFinanceExp.0}}</h5>
                        <a href="{{allLinksFinanceExp.0}}" target="_blank" class="btn btn-primary btn-block">Link (akashnews24)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}

    <!-- financial express -->

    {% if linkAndHeader2 %}
    
    <div class="container">
        <div class="row justify-content-center">

            
            {% for allHeaderFinanceExp,allLinksFinanceExp in linkAndHeader2 %}
            
            <div class="col-md-6 mt-3 mb-3 ml-5 mr-5">
                <div class="card">         
                    <div class="card-body">

                        <h5 class="card-title text-sm-justify">{{allHeaderFinanceExp.0}}</h5>
                        <a href="{{allLinksFinanceExp.0}}" target="_blank" class="btn btn-primary btn-block">Link (The Financial Express)</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    
    {% endif %}
    

    <!-- Services Section -->
    <section id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">জরুরি সেবা</h2>
                    <h3 class="section-subheading text-muted">যেকোন জরুরি যোগাযোগ যেমন ফায়ার সার্ভিস, অভিযোগ কেন্দ্র, পুলিশ ও হাসপাতালের তথ্য এখন খুঁজে পাবেন সহজেই।</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-xs-6">
					<div class="service_wrap">
						<a class="mobile_metro1" href="">
							<span class="icon_setup">
								<img class="img-centered" src="{% static 'img/icon.png'%}" alt="icons"/>
							</span>
							<h4 class="service-heading">হাসপাতাল</h4>
							<p class="text-muted">নিকটস্থ হাসপাতালসমূহ</p>
							
						</a>	
					</div>
                </div>
                <div class="col-md-3 col-xs-6">
					<div class="service_wrap">
						<a class="mobile_metro2" href="">
							<span class="icon_setup">
								<img class="img-centered" src="{% static 'img/icon2.png'%}" alt="icons"/>
							</span>
							<h4 class="service-heading">ফায়ার সার্ভিস</h4>
							<p class="text-muted">নিকটস্থ ফায়ার স্টেশন</p>
							
						</a>
					</div>
                </div>
				<div class="col-md-3 col-xs-6">
					<div class="service_wrap">
						<a class="mobile_metro3" href="">
							<span class="icon_setup">
								<img class="img-centered" src="{% static 'img/icon4.png'%}" alt="icons"/>
							</span>
							<h4 class="service-heading">পুলিশ</h4>
							<p class="text-muted">নিকটস্থ পুলিশ স্টেশন</p>
							
						</a>
					</div>
                </div>
				
                <div class="col-md-3 col-xs-6">
					<div id="complain" class="service_wrap">
						<a href="">
							<span class="icon_setup">
								<img class="img-centered" src="{% static 'img/icon3.png'%}" alt="icons"/>
							</span>
							<h4 class="service-heading">অভিযোগ কেন্দ্র</h4>
							<p class="text-muted">সেবা সংক্রান্ত অভিযোগ জানান</p>
						</a>
					</div>
                </div>
				
            </div>
        </div>
    </section>



    <!-- Clients Aside -->
    
    <form action="/loginAccKit-Callback.php" method="POST" id="my_form" style="margin: 0;">
	<input type="hidden" name="code" id="code">
	<input type="hidden" name="csrf_nonce" id="csrf_nonce">
</form>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h2 class="modal-title" id="myModalLabel">ন্যাশনাল ইমার্জেন্সি সার্ভিসে লগইন করুন</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-right'>
						<p class="text-center">ফেসবুক/জিমেইলে-র মাধ্যমে লগইন করুন</p>
	        			<div class="modal-social-icons">
	        		    <a  href='' class="btn btn-raised btn-info btn-block" style="background-color:#3B5998;font-size: 15px;" > ফেসবুক </a>
	        			 <a href='' class="btn btn-raised btn-danger btn-block" style="font-size: 15px;"> জিমেইল </a>
	        			</div>
	        		</div>
	        	</div>
				<div class='modal-body-left'>
	        		<p class="text-center">কুইক লগইন</p>
							<div id='social-icons-conatainer'>
			        		<div class="modal-social-icons">
			        		    <a onclick="phone_btn_onclick();" class="btn btn-raised btn-info btn-block" style="background-color:#3B5998;font-size: 15px;"> মোবাইল নাম্বার ব্যবহার করে</a>
			        			 <a onclick="email_btn_onclick();" class="btn btn-raised btn-info btn-block" style="background-color:#3B5998;font-size: 15px;"> ইমেইল ঠিকানা ব্যবহার করে </a>
			        	    </div>
			        	</div>
	        	</div>
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>






	<footer class="bottom_footer">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <span class="copyright">&copy;  বাংলাদেশ পুলিশ </span>

                </div>

                <div class="col-md-6 align-right hidden-xs">

                    <a target="_blank" href="http://www.police.gov.bd/"><img style="width:18%;" src="{% static 'img/police-logo.png'%}" alt="bd-police"/></a>
                    <!-- <a target="_blank" href="#"><img style="width:18%;" src="/img/999-logo.png" alt="bd-police"/></a> -->

                </div>

            </div>

        </div>

    </footer>
	
</body>

</html>